<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main_layout}">
  <div layout:fragment="content">
    <h1>학생조회</h1>
    <form action="" method="post" id="insert-form">
      <div class="mb-3">
        <label for="id" class="form-label">아이디</label>
        <input type="text" name="id" id="id" class="form-control" th:value="${dto.id}" readonly />
        <!-- <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"> -->
      </div>
      <div class="mb-3">
        <label for="id" class="form-label">이름</label>
        <input type="text" name="name" id="name" class="form-control" th:value="${dto.name}" />
        <!-- <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"> -->
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">성별</label>
        <input type="text" name="gender" id="gender" class="form-control" th:value="${dto.gender}" readonly />
        <!-- <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"> -->
      </div>
      <div class="mb-3">
        <label for="addr" class="form-label">주소</label>
        <input type="text" name="addr" id="addr" class="form-control" th:value="${dto.addr}" readonly />
        <!-- <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"> -->
      </div>

      <div class="mb-3">
        <label for="grade" class="form-label">학년</label>
        <select class="form-select" aria-label="Default select example" name="grade">
          <option value="FRESHMAN" th:selected="${dto.grade.name()} == 'FRESHMAN'">FRESHMAN</option>
          <option value="SOPHOMORE" th:selected="${dto.grade.name()} == 'SOPHOMORE'">SOPHOMORE</option>
          <option value="JUNIOR" th:selected="${dto.grade.name() == 'JUNIOR'}">JUNIOR</option>
          <option value="SENIOR" th:selected="${dto.grade.name() == 'SENIOR'}">SENIOR</option>
        </select>
        <!-- <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div> -->
      </div>
      <a type="button" class="btn btn-outline-success" th:href="@{/student/list}">목록</a>
      <button type="submit" class="btn btn-outline-primary">수정</button>
      <button type="button" class="btn btn-outline-danger">삭제</button>
    </form>

    <form th:action="@{/student/remove}" method="post" name="remove-form">
      <input type="hidden" name="id" th:value="${dto.id}" />
    </form>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
