<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main_layout}">
  <div layout:fragment="content">
    <h1>READ</h1>
    <form action="" method="post">
      <div class="mb-3">
        <label for="id" class="form-label">번호</label>
        <input type="text" class="form-control" id="id" th:value="${dto.id}" name="id" readonly />
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">내용</label>
        <textarea class="form-control" id="text" rows="3" name="text" readonly>[[${dto.text}]]</textarea>
      </div>
      <a type="button" class="btn btn-outline-success" th:href="@{/memo/list}">목록</a>
      <a type="button" class="btn btn-outline-primary" th:href="@{/memo/modify(id=${dto.id})}">수정</a>
    </form>
  </div>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      let msg = [[${msg}]]; // 에러 상관없음
      console.log(msg);

      if (msg) {

        Swal.fire({
          title: msg,
          icon: "success",
          draggable: true,
        });
      }
    </script>
  </th:block>
</html>
